<header class="w-full">
	<div class="py-8 bg-fons">
		<nav class="px-3 mx-auto flex justify-between sm:flex-nowrap sm:justify-start gap-4 items-center container">
			<a class="text-xl font-medium" href="index.html">
				<img src="./favicon.svg" alt="Logo" width="24" height="24" class="inline-block align-text-top">
				Economia circular
			</a>
			<ul class="flex flex-col sm:flex-row">
				<li class="px-2 text-gray-500 hover:text-gray-700">
					<a class="n av-link" href="index.html">Articles</a>
				</li> 
				<li class="px-2 text-gray-500 hover:text-gray-700">
					<a class="n av-link" href="participants.html">Participants</a>
				</li> 
				<li class="px-2 text-gray-500 hover:text-gray-700">
					<a class="nav-link" href="#">Les jornades</a>
				</li>
			</ul>
		</nav>
	</div>
	<h1 class="px-3 py-12 text-center text-4xl sm:text-7xl font-light text-balance">{{titol}}</h1>
</header>