// ******************************************************************
// VARIABLES
// ******************************************************************

// Colors del tema
:root {
	--color-text: #4682b4;
	--color-fons: #f4f7fb;
	--color-link: #4682b4;
}